<div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
    <a [routerLink]="['/projects', project.id]" [ngClass]="{'order-2': index%2 === 1}" class="image d-flex justify-content-center align-items-center"
    [ngStyle]="{'background-image': 'url(' + project.demoImageUrls[0] + ')'}"
        data-scrollax=" properties: { translateY: '-30%'}">
        <div class="icon d-flex text-center justify-content-center align-items-center">
            <span class="icon-search"></span>
        </div>
    </a>
    <div class="text">
        <h4 class="subheading">{{project.type}}</h4>
        <h2 class="heading"><a [routerLink]="['/projects', project.id]">{{project.name}}</a></h2>
        <p>{{project.shortDetails}}</p>
        <p><a [routerLink]="['/projects', project.id]">View Project</a></p>
    </div>
</div>