<footer class="ftco-footer ftco-bg-dark ftco-section" style="padding-bottom: 0;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
                <div class="ftco-footer-widget mb-5">
                    <ul class="ftco-footer-social list-unstyled">
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/md-r-rahman" target="_blank"><span
                                    class="icon-linkedin" title="LinkedIn"></span></a></li>
                        <li class="ftco-animate"><a href="https://gitlab.com/hard-rox" target="_blank"><span
                                    class="icon-gitlab" title="Gitlab"></span></a></li>
                        <li class="ftco-animate"><a href="https://twitter.com/RoxyXmw" target="_blank"><span
                                    class="icon-twitter" title="Twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/MdRoxy" target="_blank"><span
                                    class="icon-facebook" title="Facebook"></span></a></li>
                    </ul>
                </div>
                <div class="ftco-footer-widget">
                    <h2 class="mb-3">Contact Me</h2>
                    <p class="h3 email"><a href="mailto:roxy.xprez@gmail.com">roxy.xprez@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="opacity: 0.05; margin-bottom: 0 !important; text-align: left;">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="icon-heart" aria-hidden="true" style="color: red;"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>