<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="colorlib-navbar-brand">
                    <a class="colorlib-logo" [routerLink]="['']"><span class="logo-img"
                            style="background-image: url(./assets/images/nav-icon.jpg);"></span>Rasedur Rahman Roxy</a>
                </div>
                <a class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
            </div>
        </div>
    </div>
</header>