<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span>{{article.category}}</span>
                <h2>{{article.title}}</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <p>
                    <img src="{{article.coverImageUrl}}" alt="" class="img-fluid">
                </p>
                <markdown [src]="'./assets/markdowns/articles/' + article.markdownFileName"></markdown>
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a *ngFor="let tag of article.tags" href="#" class="tag-cloud-link">{{tag}}</a>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>