<app-progress-bar></app-progress-bar>
<div class="page">
  <app-main-nav></app-main-nav>
  <div id="colorlib-page">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>