<nav id="colorlib-main-nav" role="navigation">
    <a class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
    <div class="js-fullheight colorlib-table">
        <div class="img" style="background-image: url(./assets/images/menu-side.jpg);"></div>
        <div class="js-fullheight">
            <div class="row no-gutters">
                <div class="col-md-12 text-center">
                    <h1 class="mb-4"><a [routerLink]="['']" class="logo">Rasedur Rahman Roxy</a></h1>
                    <ul>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['']"
                                class="nav-link"><span><small>01</small>Home</span></a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                [routerLink]="['/resume']" class="nav-link"><span><small>02</small>Resume</span></a>
                        </li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                [routerLink]="['/projects']" class="nav-link"><span><small>03</small>Projects</span></a>
                        </li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                                [routerLink]="['/blog']" class="nav-link"><span><small>04</small>Blog</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>