<div class="row">
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
            <div class="icon mb-3"><span class="icon-gears"></span></div>
            <ul class="media-body text-left text-white">
                <li class="heading">ASP.NET & ASP.NET Core</li>
                <li class="heading">ASP.NET Web API</li>
                <li class="heading">ASP.NET Core Web API</li>
                <li class="heading">Angular 4+</li>
                <li class="heading">EntityFramework & EF Core</li>
                <li class="heading">jQuery</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
            <div class="icon mb-3"><span class="icon-code"></span></div>
            <ul class="media-body text-left text-white">
                <li class="heading">C#</li>
                <li class="heading">SQL</li>
                <li class="heading">Typescript</li>
                <li class="heading">Javascript</li>
                <li class="heading">HTML5, CSS3</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
            <div class="icon mb-3"><span class="icon-book"></span></div>
            <ul class="media-body text-left text-white">
                <li class="heading">Software Engineering</li>
                <li class="heading">Software Design Pattern</li>
                <li class="heading">OOP</li>
                <li class="heading">SOLID Principle</li>
                <li class="heading">Algorithms</li>
                <li class="heading">Data Structures</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
            <div class="icon mb-3"><span class="icon-database"></span></div>
            <ul class="media-body text-left text-white">
                <li class="heading">SQL Server</li>
                <li class="heading">SQLite</li>
                <li class="heading">MySQL</li>
                <li class="heading">MongoDB</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
            <div class="icon mb-3"><span class="ion-md-git-branch"></span></div>
            <ul class="media-body text-left text-white">
                <li class="heading">Git</li>
                <li class="heading">SubVersion</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-3 py-4 d-block text-center">
            <div class="icon mb-3"><span class="icon-wrench"></span></div>
            <ul class="media-body text-left text-white">
                <li class="heading">Visual Studio 2017, 2019</li>
                <li class="heading">SSMS</li>
                <li class="heading">Navicat</li>
                <li class="heading">Visual Studio Code</li>
                <li class="heading">Postman</li>
                <li class="heading">Fork</li>
            </ul>
        </div>
    </div>
</div>